$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;
///

// --color-black: #232323;
// --color-background: #ffdf8c;
// --color-gray-line: #f6f6f6;
// --color-orange: #fe5f1e;
// --color-text: #232323;
// --color-text-secondary: #7b7b7b;
// --color-white: #fff;
// --color-card-bg: #fff;
// --color-input-bg: #fff;
// --color-input-text: #232323;
// --color-input-border: #d0d0d0;

// Переопределите старые переменные на CSS переменные
// $black: var(--color-black);
// $background: var(--color-background);
// $gray-line: var(--color-gray-line);
// $orange: var(--color-orange);

// $container-width: 90%;
// $duration: 0.15s;
